<footer class="ftr">
    <div class="f-info">
    <div class="f-info-social">
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="f-info-links">
        <a href="#">Privacy policy</a>
    </div>
    <div class="f-info-links">
        <a href="#">Terms & conditions</a>
    </div>
    </div>
</footer>